body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.webcam-frame {
    width: 640px;
    height: 480px;
    border: 5px solid #007bff;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.webcam-text {
    position: absolute;
    color: black;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 15px; /* Medzery medzi tlačidlami */
}

.control-button {
    border: none;
    border-radius: 10%; /* Mierne zaoblenie */
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Modré pozadie pre aktívne tlačidlá */
.control-button.active {
    background-color: #007bff; /* Svetlomodrá */
    color: white;
}

/* Červené pozadie pre neaktívne tlačidlá */
.control-button.inactive {
    background-color: #dc3545; /* Červená */
    color: white;
}

/* Tlačidlo na ukončenie hovoru */
.red-background {
    border-radius: 10%; /* Mierne zaoblenie */
    width: 70px;       /* Rovnaká šírka ako ostatné tlačidlá */
    height: 70px;      /* Rovnaká výška ako ostatné tlačidlá */
    background-color: #dc3545; /* Červené pozadie */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Farba a štýl ikon */
.control-button i,
.red-background i {
    font-size: 1.5em; /* Zabezpečí rovnakú veľkosť ikon */
    color: white;
    line-height: 1;
}
