body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 900px;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Video kontajner */
.video-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.video-frame {
    width: 100%;
    max-width: 48%;
    position: relative;
    background-color: black;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: black;
}

.video-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
}

/* Ovládacie tlačidlá */
.controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.control-button {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.control-button.active {
    background-color: #007bff;
    color: white;
}

.control-button.inactive {
    background-color: #dc3545;
    color: white;
}

.control-button.red-background {
    background-color: #dc3545;
    color: white;
}
