/* Základné štýly stránky */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Rám pre webkameru */
.webcam-frame {
    width: 640px;
    height: 480px;
    border: 5px solid #007bff;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.webcam-text {
    position: absolute;
    color: black;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Ovládacie tlačidlá */
.controls {
    display: flex;
    justify-content: center;
    gap: 15px; /* Medzery medzi tlačidlami */
}

/* Základné tlačidlá */
.control-button {
    border: none;
    border-radius: 10%; /* Mierne zaoblenie */
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Aktívne tlačidlo (mikrofón alebo kamera zapnuté) */
.control-button.active {
    background-color: #007bff; /* Svetlomodrá */
    color: white;
}

/* Neaktívne tlačidlo (mikrofón alebo kamera vypnuté) */
.control-button.inactive {
    background-color: #dc3545; /* Červená */
    color: white;
}

/* Efekt pri prechode myšou - aktívne tlačidlo (zapnuté) */
.control-button.active:hover {
    background-color: #dc3545; /* Zmena na červenú pri hover */
}

/* Efekt pri prechode myšou - neaktívne tlačidlo (vypnuté) */
.control-button.inactive:hover {
    background-color: #007bff; /* Zmena na modrú pri hover */
}

/* Štýl tlačidla na ukončenie hovoru */
.red-background {
    background-color: #dc3545; /* Červené pozadie */
    border-radius: 10%; /* Mierne zaoblenie */
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

